<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Last Updates</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="center-container">
        <h1>Last Updates</h1>
        <p style="white-space: pre-line; font-size: 20px; max-width: 800px; text-align: center;">
            <%= message %>
        </p>
        <button onclick="goBack()">Back</button>
    </div>

    <script>
        function goBack() {
            window.location.href = '/';
        }
    </script>
</body>
</html>
